### Q1. Create a list of five integers and print it.

In [ ]:
age=[5, 60, 20, 44, 31]
age 
print(age)

### Q2. Write a program to find the length of a list.

In [ ]:
age=[5, 60, 20, 44, 31]
print(len(age))

### Q3. Create a tuple with three elements and print the second item.

In [ ]:
name=('ahmed, ali, omar')
print(name,[1])

### Q4. Create a dictionary with 3 key-value pairs and print all keys.

In [ ]:
data=['modern' 1992 'enginnering']
print(data)

### Q5. Write a program to convert a list into a set.

In [ ]:
names=['ali, omar, sayed']
chnage=set(names)

### Q6. Create a string and print its first and last characters.

In [ ]:
name=['aya, lila, mennah, serah']
print(max(name))
print(min(name))

### Q7. Take input from the user and print it.

In [ ]:
fname=james
print(fname)

### Q8. Write a program to add two numbers entered by the user.

In [ ]:
num1=int(input(5))
num2=int(input(4))
sum=num1+num2
print(sum)

### Q9. Use `type()` function to check the data type of a variable.

In [ ]:
a=21
b=str(a)
print(type(a),type(b))

### Q10. Create a boolean variable and print it.

In [ ]:
ahmed_is_21=True
print(ahmed_is_21)

### Q11. Check if a number is positive, negative, or zero using `if` statement.

In [ ]:
num=int(input(5))
if num>0:
 print(+ve)
elif num<0:
 print(-ve)
else:
 print(0)

### Q12. Write a program to check if a number is even or odd.

In [ ]:
num=int(input(4))
if num%2:
 print(number even)
else:
  print(number odd)

### Q13. Write a program that prints your name 3 times using a `for` loop.

In [ ]:
i=ahmed
for i in range (3):
    print(i)

### Q14. Write a `for` loop that prints numbers from 1 to 10.

In [ ]:
for i in range(1,11):
    print(i)

### Q15. Use a `for` loop to iterate over a list and print each element.

In [ ]:
l = [1, 4, 8, 54, 62, 100, 0]
for i in range(len(l)):
    print(l[i])

### Q16. Write a program to calculate the sum of numbers from 1 to 100.

In [ ]:
num=0
for i in range(1,101):
 num += i 
print(num)

### Q17. Write a `for` loop that prints only even numbers from 1 to 20.

In [ ]:
num=0
for i in range(1,21):
 if i % 2 ==0 :
   print(num)

### Q18. Write a `for` loop to print each character in a string.

In [ ]:
for i in 'ahmed':
    print(i)

### Q19. Use a `for` loop to print all values in a dictionary.

### Q20. Write a program that uses a `for` loop to find the factorial of a number.

In [ ]:
num=int(input(3))
factorial=1
if

### Q21. Create a list of your 5 favorite fruits.

In [ ]:
fruits=['apple ,watermelon, peaches, grapes, mango']
print(fruits)

### Q22. Add a new fruit to your list of favorite fruits.

In [ ]:
fruits=['apple ,watermelon, peaches, grapes, mango']
fruits.append('banana')
print(fruits)

### Q23. Remove the second item from a list.

In [ ]:
fruits=['apple ,watermelon, peaches, grapes, mango']
del fruits(1)
print(fruits)

### Q24. Sort a list of numbers in descending order.

In [ ]:
names=['ahmed, sayed, mohamed, abduallah']
print(sorted(names,reverse=True))

### Q25. Find the maximum and minimum values in a list.

In [ ]:
nums=['1, 2, 5, 88']
print(max(nums))
print(min(nums))

### Q26. Count how many times a value appears in a list.

In [ ]:
nums=['5, 4, 33, 5, 66, 5']
nums.count=['5, 4, 33, 5, 66, 5']
print(nums.count)

### Q27. Check if a specific value exists in a list.

In [ ]:
nums=['55, 66, 2, 11, 34']
if 55 in nums:
 print(true)
else:
  print(false)

### Q28. Reverse a list without using reverse() function.

In [ ]:
names:['ahmed, lila, khalid, fatma'] 
reversenames=names[::-1]
print(reversenames)

### Q29. Make a copy of a list and modify the copy only.

In [ ]:
nums=['1, 44, 55, 75']
nums2=nums.copy()
print(nums2)

### Q30. Use slicing to get the first 3 items of a list.

### Q31. Create a tuple with 4 elements and print its length.

In [ ]:
t=(33,34,35,36)
print(len(t))

### Q32. Access the last element of a tuple.

In [ ]:
t=(33,34,35,36)
print(t.index(3))

### Q33. Convert a tuple into a list.

In [ ]:
t1=(33,34,35,36)
t2=list(t1)
print(t1)

### Q34. Convert a list into a tuple.

In [ ]:
l1=['1, 2, 3, 4, 5']
l2=tuple(l1)
print(l2)

### Q35. Check if a value exists in a tuple.

In [ ]:
t1=(33,34,35,36)
if 33 in t1:
    print(yes)
else:
    print(no)

### Q36. Concatenate two tuples.

In [ ]:
t1=(33,34,35,36)
t2=(99,98,97,96)
sum=t1+t2
print(sum)

### Q37. Repeat a tuple 3 times.

In [ ]:
t1=(33,34,35,36)
for t1 in range(3):
    print(t1)

### Q38. Find the index of an element in a tuple.

In [ ]:
t1=(33,34,35,36)
t2=t1.index(2)

### Q39. Use tuple unpacking to assign values to variables.

In [ ]:
t1=('ahmed',21,'cairo')
t1=name,age,city
print(t1)

### Q40. Create a nested list and access an inner element.

### Q41. Create a set of 5 unique colors.

In [ ]:
s1={'red, blue, green, black, brown'}
print(s1)

### Q42. Add a new color to the set.

In [ ]:
s1={'red, blue, green, black, brown'}
s2=s1.add
print(s2)

### Q43. Remove an item from the set using `remove()`.

In [ ]:
s1={'red, blue, green, black, brown'}
s2=s1.remove(red)
print(s1)

### Q44. Use `discard()` to remove an item that may or may not exist.

In [ ]:
s1={'red, blue, green, black, brown'}
s2=s1.discard(blue)
print(s1)

### Q45. Create a set from a list with duplicate values.

In [ ]:
l1=['22, 24, 55, 23']
s1=set(l1)
print(s1)

### Q46. Find the union of two sets.

In [ ]:
s1={'red, blue, green, black, brown'}
s2={'red, yellow, black, brown, orange'}
us=s1.union(s2)
print(us)

### Q47. Find the intersection of two sets.

In [ ]:
s1={'red, blue, green, black, brown'}
s2={'red, yellow, black, brown, orange'}
rs=s1.intersection(s2)
print(rs)

### Q48. Find the difference between two sets.

In [ ]:
s1={'red, blue, green, black, brown'}
s2={'red, yellow, black, brown, orange'}
ds=s1.difference(s2)
print(ds)

### Q49. Check if a set is a subset of another set.

In [ ]:
s1={'red, blue, green, black, brown'}
s2={'red, yellow, black, brown, orange'}
sss=s1.issubset(s2)
print(sss)

### Q50. Check if two sets are disjoint.

In [ ]:
s1={'red, blue, green, black, brown'}
s2={'red, yellow, black, brown, orange'}
if s1.isdisjoint(s2):
    print(yes)
else:
    print(no)

### Q51. Create a dictionary with 3 items: name, age, and city.

In [ ]:
d1={'ahmed', 21, 'cairo'}
print(d1)

### Q52. Add a new key-value pair to the dictionary.

In [ ]:
d1={'ahmed', 21, 'cairo'}
d2=d1.add(james)
print(d2)

### Q53. Update the value of an existing key in the dictionary.

In [ ]:
d1={'ahmed', 21, 'cairo'}
d2=d1.update(22)
print(d2)

### Q54. Remove a key from the dictionary using `pop()`.

In [ ]:
d1={'ahmed', 21, 'cairo'}
d2=d1.remove(cairo)
print(d2)

### Q55. Check if a key exists in the dictionary.

In [ ]:
d1={'ahmed', 21, 'cairo'}
if ahmed in d1:
 print(yes)
else:
 print(no)

### Q56. Loop through a dictionary and print all keys and values.

In [ ]:
d1={'ahmed', 21, 'cairo'}
for

### Q57. Get all keys from a dictionary using `keys()`.

In [ ]:
d1={'ahmed', 21, 'cairo'}
d2=d1.keys()
print(d2)

### Q58. Get all values from a dictionary using `values()`.

In [ ]:
d1={'ahmed', 21, 'cairo'}
d2=d1.values()
print(d2)

### Q59. Get all key-value pairs using `items()`.

In [ ]:
d1={'ahmed', 21, 'cairo'}
d2=d1.items()
print(d2)

### Q60. Create a dictionary from two lists: one for keys and one for values.